streamlit
python-dotenv

# Audio Processing

pydub
yt-dlp
ffmpeg-python

# Whisper

openai-whisper
torch
torchaudio

# LangChain

langchain
langchain-core
langchain-community
langchain-text-splitters

# Mistral

langchain-mistralai

# Vector DB

langchain-chroma
chromadb

# Embeddings

sentence-transformers
transformers
huggingface-hub

# Utilities

requests
numpy
tqdm

