streamlit
python-dotenv

yt-dlp>=2025.06.30
ffmpeg-python

faster-whisper>=1.1.0
torch
torchvision
torchaudio

langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-mistralai

chromadb==0.5.5
langchain-chroma==0.1.4

sentence-transformers
transformers
huggingface-hub

protobuf==3.20.3

requests
numpy
tqdm
